<footer class="footer">
    <div class="container">
        <div class="menu menu-distributed">
            <div class="infobox infobox-marginless">
                <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
                        
                </h4>
            </div>
            <div class="infobox infobox-marginless">
                <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
                        
                </h4>
            </div>
        </div>
    </div>
</footer>